/*Kranthi Kumar Parelly*/
/*Tarun Kumar Potlapalli*/
body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #0ca3d2;
  } 
body{
    background-image:url("simplysiam.png");
 background-repeat: no-repeat;
    
    background-position: center; 
    
} 
#login-text{
    /* color:beige; */
    color: black
    
}

#menu-text{
    color:#81AFB8;
    color: black;
}
  input{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-bottom: solid 2px #c9c9c9;
}
button{
    float:left;
}

#pos{
    position: relative;
    top: -1px;
    left: 222px;
}
.psw{
    position: relative;
    top: -1px;
    left: 150px;
}
label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
  }
#rm{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }
  .container {
    margin: 80px auto;
    width: 640px;
  }

  #fb-button
{
 padding: 15px 32px;
background-color: #555555;
}