/* Style the tab */
div.menutab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
div.menutab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.menutab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.menutab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid #ccc;
    background-color: white
}