

<h2>Welcome Admin!</h2>
<br></br>
<h4>Action to be taken on orders:</h4>

<table id="customers">
  <tr>
    <th>Check</th>
    <th>OrderID</th>
    <th>Amount</th>
    <th>Status</th>
  </tr>
  <tr>
      <td>
<input type="checkbox" class = "chcktbl" />
</td>
    <td>011234</td>
    <td>$13.56</td>
    <td>No Action</td>
  </tr>
      <tr>
      <td>
  <input type="checkbox" class = "chcktbl" />
</td>
<td>012345</td>
<td>$20</td>
<td>No Action</td>
 </tr>
<tr>
<td>
<input type="checkbox" class = "chcktbl" />
</td>
<td>8927134</td>
<td>$10</td>
<td>NoAction</td>
</tr>
<tr>
<td>
<input type="checkbox" class = "chcktbl" />
</td>
<td>8927234</td>
<td>$10.68</td>
<td>NoAction</td>
</tr>
<tr>
</table>

<button class="button">Accept Orders</button>
<button class="button button2">Reject Orders</button>

<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
