<h1>Welcome Admin!!</h1>
<br>
<br>
<br>
<div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <a href="/checkout" type="button" class="btn btn-success">Update Restuarants</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/adminorders" type="button" class="btn btn-success">Orders</a>
        </div>
    </div>